* {

}

html, body {
    margin:  0;
    padding: 0;
    border:  none;

}

body {
    font-size:   14px;
    color:       #000000;
    /* Helvetica/Arial-based sans serif stack */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    font-size: 3em;
    position:  absolute;
    top:       0;
    width:     100%;
    bottom:    160px;

}

nav {
    position:   absolute;
    bottom:     0;
    width:      100%;
    height:     80px;
    background: gold;
}

nav > table {
    height:     100%;
    width:      100%;
    background: red;

}

main > #what > button {
    font-size: 14px;
}

nav > table tr > td {
    text-align: center;
    border:     1px solid;
    width:      33%;
}

nav a {
    width: 100%;
}

nav span {
    text-align:     center;
    vertical-align: middle;
    font-size:      2em;

}

#nav_what {
    background: black;
    color:      red
}

#what {

}

#where {
    display: none;
}

#who {
    display: none;
}